/*Melinda Chen Types*/
.types-body {
    width: 100%;
    /* border: 20px solid #B7EFF1;
    border-style:ridge; */
    background-color:#B7EFF1;
}

a.buttons {
    display: inline-block;
    text-align: center;
    padding:0.9em 0.3em;
    margin:0 0.1em 0.1em 0;

}

.types-button {
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
}

@media all and (max-width:30em){
    a.types.button{
    display:block;
    margin:0.2em auto;
}
}


.types-button2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    margin-left: 4em;
    margin-right: 4em;

}

.grass{
    background-color:#39BD20;
}

.water {
    background-color: #008FFF;
}

.fire {
    background-color: #FF0000;
}

.bug {
    background-color:#007524;
}

.normal {
    color: black;
    background-color: #CCCCCC;
}

.electric {
    color: black;
    background-color: #fae485;
}

.poison {
    background-color: #931DC4;
}

.grass-sec {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 4em;
    padding-top: 5px;
    border: 7px solid #39BD20;
    border-style:ridge;
    background-color:#39BD20;
}

.types-title {
    font-family: 'Poppins', sans-serif;
    font: 600 100rem 'Poppins', Poppins;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.type-info {
    padding-bottom: 30px;
    border: 7px solid rgb(255, 255, 255);
    border-style:ridge;
    background-color:rgb(255, 255, 255);
}

.water-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #008FFF;
    border-style: ridge;
    background-color:#008FFF;
}

.fire-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #FF0000;
    border-style: ridge;
    background-color:#FF0000;
}

.bug-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #007524;
    border-style: ridge;
    background-color:#007524;
}

.normal-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #CCCCCC;
    border-style: ridge;
    background-color:#CCCCCC;
}

.electric-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #fae485;
    border-style: ridge;
    background-color: #fae485;
}

.types-title-ele {
    font-family: 'Poppins', sans-serif;
    font: 600 100rem 'Poppins', Poppins;
    margin-left: 40px;
    font-size: 30px;
    color: black;
}

.poison-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #931DC4;
    border-style: ridge;
    background-color:#931DC4;
}

.dark {
    background-color: #3D3D39;
}

.dark-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #3D3D39;
    border-style: ridge;
    background-color:#3D3D39;
}

.dragon {
    background-color: #269191;
}

.dragon-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #269191;
    border-style: ridge;
    background-color:#269191;
}

.fairy {
    background-color: #BF2A74;
}

.fairy-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #BF2A74;
    border-style: ridge;
    background-color:#BF2A74;
}

.fighting {
    background-color: #8C510D;
}

.fighting-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #8C510D;
    border-style: ridge;
    background-color:#8C510D;
}

.flying {
    background-color: #256E99;
}

.flying-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #256E99;
    border-style: ridge;
    background-color:#256E99;
}

.ghost {
    background-color: #490E61;
}

.ghost-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #490E61;
    border-style: ridge;
    background-color:#490E61;
}

.ground {
    background-color: #995D4B;
}

.ground-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #995D4B;
    border-style: ridge;
    background-color:#995D4B;
}

.ice {

    background-color: #40E0D0;
}

.ice-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #40E0D0;
    border-style: ridge;
    background-color:#40E0D0;
}

.psychic {
    background-color: #A8278E;
}

.psychic-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #A8278E;
    border-style: ridge;
    background-color:#A8278E;
}

.rock {
    background-color: #472B23;
}

.rock-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #472B23;
    border-style: ridge;
    background-color:#472B23;
}

.steel {
    background-color: #6B6B6B;
}

.steel-sec {
    margin-left: 5em;
    margin-right: 5em;
    border: 7px solid #6B6B6B;
    border-style: ridge;
    background-color:#6B6B6B;
}
